.banner{
    background-color: darkslateblue;
    color: antiquewhite;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}
#house{
    height: 400;
    width: 400px;
}
#JennyJava{
    color: blueviolet;
    font-size: 100px;
}   
.bold{
    font-weight: 900;
}